<h1 class="page-title">Settings</h1>
<section id="types" class="types">
  <h1>Types</h1>
  <p>Please contact <a href="https://18f.slack.com/messages/g-content">g-content</a> if you&rsquo;d like to edit <a href="https://docs.google.com/spreadsheets/d/159fzF2Uf7DM_hJzoTOTwz66z9CK2qOOxBiDRBttIues/edit#gid=0">this list</a>.</p>
  <dl>
    <dt>Internal message</dt>
    <dd>Any message for widely distributed internal consumption, such as Slack messages (#news), internal emails, and all-hands announcements. Not published to the public.</dd>
    <dt>Internal documentation about how we work</dt>
    <dd>An article for internal consumption, shared with all new hires and used as reference by staff (also shared publicly whenever possible). Published at handbook.18f.gov.</dd>
    <dt>Guide</dt>
    <dd>A long-form (> 1,000 words), public collection of information in a simple, standard style. Published at pages.18f.gov/ and linked from guides.18f.gov.</dd>
    <dt>Blog posts</dt>
    <dd>A public article about how we work and what we’re up to. Published at 18f.gsa.gov/blog.</dd>
    <dt>Misc. web content</dt>
    <dd>18F occasionally publishes microsites outside of our standard guide format (pages.18f.gov/). We&rsquo;ll work with you to publish content on any relevant subdomain.</dd>
  </dl>
</section>
<section id="topics" class="topics">
  <h1>Topics</h1>
  <%= link_to "New", 
      new_topic_path,
      class: "button"
  %>
  <p>Topics we want to be sensitive to as people create content:</p>
  <ul>
    <%= render @topics %>  
  </ul>  
</section>
<section id="stakeholders" class="stakeholders">
  <h1>Stakeholders</h1>
  <a class="button" href="{{site.baseurl}}/stakeholders/new">Add new</a>
  <ul>
    <li>Andre Francisco <a href="{{site.baseurl}}/stakeholders/new">Edit</a></li>
    <li>Dave Zvenyach <a href="{{site.baseurl}}/stakeholders/new">Edit</a></li>
    <li>Greg Boone <a href="{{site.baseurl}}/stakeholders/new">Edit</a></li>
    <li>Hillary Hartley <a href="{{site.baseurl}}/stakeholders/new">Edit</a></li>
    <li>John Peters <a href="{{site.baseurl}}/stakeholders/new">Edit</a></li>
    <li>Melody Kramer <a href="{{site.baseurl}}/stakeholders/new">Edit</a></li>
    <li>Noah Kunin <a href="{{site.baseurl}}/stakeholders/new">Edit</a></li>
    <li>Tania Mejia <a href="{{site.baseurl}}/stakeholders/new">Edit</a></li>
    <li>Writing Lab <a href="{{site.baseurl}}/stakeholders/new">Edit</a></li>
  </ul>
</section>
<section id="associations" class="associations">
  <h1>Associations</h1>
  <div class="blank-slate">
    <p>You must <a href="{{site.baseurl}}/stakeholders/new">add at least one stakeholder</a> before creating a stakeholder-content association.</p>
  </div>
  <form action="{{site.baseurl}}/associations/new" method="get">
    Create new association for
    <div class="field field-select">
      <label>
        <span class="label-text">Stakeholder</span>
        <select>
          <option>Stakeholder 1</option>
          <option>Stakeholder 2</option>
        </select>
      </label>
    </div>
    <footer>
      <button>Add</button>
    </footer>
  </form>
  <dl>
    <dt>Hillary Hartley</dt>
    <dd>
      <strong>Types</strong>
      <ul>
        <li>Blog post <abbr title="Approver" class="badge badge-approver">A</abbr> <a href="{{site.baseurl}}/associations/new">Edit</a></li>
      </ul>
    </dd>
    <dd>
      <strong>Topics:</strong> 
      <ul>
        <li>An 18F project, product, or initiative (other than Agile BPA) <abbr title="collaborator" class="badge badge-collaborator">C</abbr> <a href="{{site.baseurl}}/associations/new">Edit</a></li>
      </ul>
    </dd>
  </dl>
</section>